<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="customerPage.ImportGoogleContacts"/>
      <class name="Appium.bookappmt"/>
      <class name="Appium.Google_Login"/>
      <class name="logins.shortendedcode_Login"/>
      <class name="logins.Setmore_login"/>
      <class name="logins.multibrowser"/>
      <class name="customerPage.Book4mCustomerPage"/>
      <class name="logins.Create_NewAccount"/>
      <class name="Appium.Face_Login"/>
      <class name="Appium.Book_ExtCust"/>
      <class name="Appium.Setmore_signin"/>
      <class name="logins.TestingSample"/>
      <class name="Appium.iOS_Login"/>
      <class name="bookingPage.Book_withoutSS"/>
      <class name="Appium.testing"/>
      <class name="customerPage.AddCusotmer"/>
      <class name="logins.Login_mail"/>
      <class name="Appium.Loginthree"/>
      <class name="bookingPage.BookingAvailablslots"/>
      <class name="bookingPage.BookaSlot"/>
      <class name="logins.Facebook_login"/>
      <class name="logins.SetMorelogincrossbrowser"/>
      <class name="Appium.create_account"/>
      <class name="AppiumiOS.SetmoreLogin"/>
      <class name="customerPage.Customer"/>
      <class name="logins.Google_login"/>
      <class name="customerPage.ExportMailChimp"/>
      <class name="CalendarPage.Multiplebookings"/>
      <class name="customerPage.ExportCustomer"/>
      <class name="CalendarPage.DoubleBookingAppointments"/>
      <class name="bookingPage.Tests"/>
      <class name="CalendarPage.Singlebooking"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
