<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite">
	
	
	<test name="Google">
		<classes>
			<class name="logins.Google_login" />
		</classes>
	</test>
	<test name="Facebook">
		<classes>
			<class name="logins.Facebook_login" />
		</classes>
	</test>

</suite> 


<!-- <suite name=”Ant Suite”>
       <test name=”Generictest”>
       <packages>
<package name=”dummy” />
</packages>                                                             
       </test>
 </suite> -->